/*
  PRÁCTICA FINAL DE LA UNIDAD 7 (ANIMACIONES)
  (En otro css seperado)
*/

/* Animaciones 
.logoHome, h1, p {
    animation-duration: 5s;
    animation-direction: alternate;
    animation-name: opacidad;
}
@keyframes opacidad { 
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

.fw-bolder {
    animation-duration: 3s;
    animation-direction: alternate;
    animation-name: estiloAnimacion;  
}

@keyframes estiloAnimacion {
    from {
        width: 200%;
    }
    50% {
        font-size: 190%;
        width: 150%;
    }
    to {
        width: 100%;
    }
}

/* Transiciones 
.imgPeliculas {
    transition: width 2s;
}

.imgPeliculas:hover {
    width: 105%;
}

a {
    transition: font-size 2s;
}

a:hover {
    font-size: 23px;
}

.logoHome {
    width: 70%;
    transition: width 3s;
}

.logoHome:hover {
    width: 75%;
}
*/

/*
  PRÁCTICA FINAL DE LA UNIDAD 4 (SELECTORES)
  (En otro css seperado)
*/

/* Pseudoclases */
a:link {
    color: #ffbb00;
}

a:visited {
    font-weight: bold;
}

a:hover {
    color: #ff00bf;
}

a:active {
    color: green;
    font-weight: bold;
}

.form-control:focus {
    color: #272129;
    font-size: 22px;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(38, 0, 255, 0.25);
}

input:placeholder-shown, textarea:placeholder-shown {
    background-color: rgba(196, 196, 196, 0.493);
}

input:not(:placeholder-shown) {
    font-size: 30px;
    background-color: rgb(255, 255, 255);
}
